  <p>
  <%= f.label :person  %><br/>
  <%= f.text_field :person  %>
  </p>
  <p>
  <%= f.label :street_name  %><br/>
  <%= f.text_field :street_name  %>
  </p>
  <p>
  <%= f.label :city_name %><br/>
  <%= f.text_field :city_name %>
  </p>
  <p>
  <%= f.label :country %><br/>
  <%= f.text_field :country %>
  </p>
  <p>
  <%= f.label :pin %><br/>
  <%= f.text_field :pin %>
  </p>
  <p>
  <%= f.label :phone %><br/>
  <%= f.text_field :phone %>
  </p>
  <%= f.link_to_remove "Remove item" %>