  <p>
  <%= f.label :qualification %><br/>
  <%= f.text_field :qualification %>
  </p>
  <p>
  <%= f.label :institution %><br/>
  <%= f.text_field :institution %>
  </p>
  <p>
  <%= f.label :start_year %><br/>
  <%= f.text_field :start_year %>
  </p>
  <p>
  <%= f.label :end_year %><br/>
  <%= f.text_field :end_year %>
  </p>
  <p>
  <%= f.label :percentage %><br/>
  <%= f.text_field :percentage %>
  </p>
  <%= f.link_to_remove "Remove item" %>