  <p>
  <%= f.label :company %><br/>
  <%= f.text_field :company %>
  </p>
  <p>
  <%= f.label :postion %><br/>
  <%= f.text_field :postion %>
  </p>
  <p>
  <%= f.label :from_year %><br/>
  <%= f.text_field :from_year %>
  </p>
  <p>
  <%= f.label :to_year %><br/>
  <%= f.text_field :to_year %>
  </p>
  <%= f.link_to_remove "Remove item" %>